USE [WildDeer]
GO
/****** Object:  Table [dbo].[HR]    Script Date: 3/22/2024 1:55:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HR](
	[Username] [nvarchar](20) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[EditCustomers] [bit] NOT NULL,
	[EditProducts] [bit] NOT NULL,
	[EditSellers] [bit] NOT NULL,
	[HRID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_HR] PRIMARY KEY CLUSTERED 
(
	[HRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
