@model Customer
@{
    if(ViewData["Status"] == "Failed")
    {
        <h1>THIS USERNAME EXISTS!</h1>
        <br />
        <h1>PLEASE TRY ANOTHER USERNAME</h1>
    }
    }
<form method="post">
        <label>First Name</label>
        <input type="text" placeholder="Enter Firstname" required  asp-for=FirstName/>
        <label>Last Name</label>
        <input type="text" placeholder="Enter Firstname" required asp-for="LastName"/>

        <label>Username</label>
        <input type="text" placeholder="Enter Username" required asp-for="Username"/>

    <input type="password" placeholder="Password" id="password" required asp-for="HashedPassword">
    <input type="password" placeholder="Confirm Password" id="confirm_password" required>





    <div id="captcha"></div>
    <input type="text" id="userInput" placeholder="Enter Captcha">
    <p id="result"></p>

        <label>Email Address</label>
        <input type="text" placeholder="Enter email address" required asp-for="Email"/>


        <label>Phone Number</label>
        <input type="number" placeholder="Enter phone number" required asp-for="Phone"/>


        <label>Birth Date</label>
        <input type="date" placeholder="Enter birth date" required asp-for="Birthday"/>


        <label>Profile Picture</label>
        <input type="file" required asp-for="ProfileImage"/>
 





        <label>Address</label>
        <input type="text" placeholder="Enter Full Address" required asp-for="Adress"/>

    <button type="submit" asp-controller="Account" asp-action="SignUpCustomerPost">Submit</button>
    <script src="~/js/captcha.js"></script>
</form>